.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 2rem;
  background: linear-gradient(to bottom right, #e0f7fa, #fff);
  min-height: 100vh;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 0.1rem;
  margin-bottom: 2rem;
  color: #00796b;
}

.city-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
}

.city-search input {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 2px solid #00796b;
  border-radius: 8px 0 0 8px;
  border-right: none;
  outline: none;
  width: 300px;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.city-search input:focus {
  border-color: #004d40;
}

.city-search button {
  padding: 0.75rem 1.2rem;
  font-size: 1rem;
  background-color: #00796b;
  color: white;
  border: 2px solid #00796b;
  border-left: none;
  border-radius:0 8px 8px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 100%;
}

.city-search button:hover {
  background-color: #004d40;
}

.city-search > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.city-search ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
  z-index: 10;
}

.city-search li {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
}

.city-search li:last-child {
  border-bottom: none;
}

.city-search li:hover {
  background-color: #e0f2f1;
}

.weather-dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 1rem;
}
.weather-box {
  background-color: white;
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
}

.weather-box:hover {
  transform: translateY(-5px);
}

.weather-box h2 {
  margin-bottom: 1rem;
  color: #00796b;
}
.weather-box p{
  font-size: bold;
}

.weather-box img {
  width: 80px;
  height: 80px;
}

.weather-box .temp {
  font-size: 2.5rem;
  color: #f57c00;
  margin: 0.5rem 0;
}

.weather-box p {
  font-size: 1.1rem;
  margin: 0.3rem 0;
}

.error {
  color: #d32f2f;
  font-weight: bold;
  text-align: center;
}
